.about-section {
  padding: 50px 20px;
  /* max-width: 800px; */
  /* background-color: #1E1E1E; */
  /* color: #fff; */
  /* margin-top: 10px; */
  /* border-radius: 25px; */
  /* border : 2px solid #f6c16e; */
}
  
.top-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  /* max-width: 600px; */
  margin: auto;
  padding-bottom: 60px;
  /* border-bottom: 1px solid #333; */
}

.left {
  flex: 1;
  padding: 20px;
  /* border : 2px solid #fff; */
}

.intro-text {
  font-size: 18px;
  color: #ccc;
  margin-bottom: 10px;
}

.highlight-name {
  font-size: 36px;
  font-weight: bold;
  color: #2B8781;
}

.subtitle {
  font-size: 18px;
  margin: 10px 0 30px;
  color: #ccc;
}

.contact-btn {
  padding: 10px 24px;
  background-color: transparent;
  color: #fff;
  border : 2px solid #FF5F1F;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-btn:hover {
  background-color: #FF5F1F;
  border : 2px solid #FF5F1F;
}

.right {
  flex: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border : 2px solid #fff; */
}

.dev-image {
  max-width: 300px;
  width: 60%;
  height: auto;
  filter: grayscale(25%);
  border-radius: 8px;
  /* border : 2px solid #fff; */
}

.social-cnt{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10%;
  margin-left: 20px;
  /* border : 2px solid #fff; */
}

.line{
  width: 2px;
  height: 130px;
  background-color: #2B8781;
  margin-bottom: 40px;
}

.socials {
  display: flex;
  flex-direction: column;
  gap: 20px;  
  /* border : 2px solid #fff; */
}

.socials a {
  color: #fff;
  font-size: 20px;
  transition: color 0.3s ease;
}

.socials a:hover {
  color: #FF5F1F;
}

.bottom-about {
  max-width: 900px;
  margin: 60px auto 0;
  font-size: 16px;
  line-height: 1.7;
  color: #ccc;
  /* border : 2px solid #fff; */
}

.bottom-about h2 {
  color: #fff;
  font-size: 1.8rem;
  margin-bottom: 20px;
  position: relative;
}
.bottom-about p{
  font-size: 1rem;
}

.bottom-about h2::after {
  content: "";
  display: block;
  width: 40px;
  height: 2px;
  background-color: #2B8781;
  margin-top: 10px;
}

.highlight {
  color: #FF5F1F;
  font-weight: bold;
}


@media screen and (max-width: 768px) {
  .top-section {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .right {
    margin-bottom: 30px;
    flex-direction: column;
  }
  .line{
    display: none;
  }
  .social-cnt{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 0px;
  }
  .socials {
    position: static;
    justify-content: center;
    flex-direction: row;
    /* margin-top: 20px; */
  }
}
